# worktrees
.worktrees/

# dependencies
node_modules

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env
.env-dev
.env-production

# opennext
.open-next

# misc
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

